body {
  font-family: 'Muli';
}

h1 {
  margin-left: 2em;
  margin-top: 1em;
}

a {
  text-decoration: none;
}

#people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.person-card {
  display: flex;
  flex-direction: column;
  width: 140px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.5em;
  border-color: rgba(0, 0, 0, 0.125);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 0.5em;
}

.container {
  margin-bottom: 0.5em;
}

.person-image {
  width: 100%;
  margin-bottom: 0.5em;
}

.person-image img {
  height: 100%;
  width: 140px;
  border-radius: 0.5em 0.5em 0 0;
  object-fit: cover;
}

.github,.zulip {
  font-size: smaller;
}

.github,.zulip > a {
  display: flex;
  align-items: center;
}

.container img {
  padding: 0 0.5em;
}
